<section class="all_flights">
  <ul>
    <% flights.each do |flight| %>
      <li>Flight Number: <%= flight.number %>,
      Departure City: <%= flight.departure_city %>,
      Arrival City: <%= flight.arrival_city %>,
      Number of Passengers: <%= flight.passenger_count %></li>
    <% end %>
  </ul>
</section>
