<section class="passengers">
<h3>Adult Passengers for Flight <%= flight.number %>: </h3>
  <ul>
    <% passengers.each do |passenger| %>
      <div id="passenger-<%= passenger.id %>">
        <li><%= passenger.name %>
        <%= button_to "Remove Passenger",
        passenger_flight_path(flight, passenger),
         method: :delete %></li>
      </div>
    <% end %>
  </ul>
</section>
